:root {
    --basic-white: #FFFFFF;
    --anti-flashWhite: #f2f2f2;
    --rich-electric-blue: #1698d9;
    --granite-gray: #666666;
    --black: #000000;
    --gold: #FFFF66;
    --gray-light: #B3B3B3;
    --red: #D91667;
    --red-light: #E62E7A;
    --gradient-body:  linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);
    --height-gradien: calc(100% + 8px);
}

.container {
    max-width: 1160px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 auto;
}

.page-body {
    background: var(--gradient-body);
    height: 100vh;
    background-image: url('img/Pattern.png');
    font-family: 'Exo 2', sans-serif;
}

.card__heading {
    font-size: 36px;
    line-height: 44px;
    color: var(--basic-white);
    display: flex;
    justify-content: center;
    font-weight: 100;
}

.card__box {
    width: 320px;
    height: var(--height-gradien);
    border-radius: 12px;
    background: linear-gradient(135deg, transparent 30px, var(--anti-flashWhite) 0);
    position: relative;
    list-style: none;
    cursor: pointer;
    transition: 0.3s;
}

.card__box::before {
    content: '';
    width: 326px;
    height: var(--height-gradien);
    z-index: -1;
    border-radius: 10px;
    position: absolute;
    top: -4px;
    left: -3px;
    background: linear-gradient(135deg, transparent 31px, var(--rich-electric-blue) 0);
    display: block;
}

.card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__text {
    padding-top: 21px;
    color: var(--granite-gray);
    padding: 0;
}

.card__heading-inside {
    display: block;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: var(--black);
    margin: 0;
}

.card__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--black);
    margin-right: 95px;
    margin-top: 0;
}

.card__img {
    display: flex;
    flex-direction: row-reverse;
    background-image: url("img/Photo.png");
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 15px;
    padding: 0;
}

.card__text-name {
    margin: 0;
    padding: 0;
    color: var(--granite-gray);
}

.card__change {
    margin: 0;
    color: var(--granite-gray);
}

.card__text-block {
    display: flex;
    flex-direction: column;
    margin-right: 85px;
}

.card__circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: var(--rich-electric-blue);
    border-radius: 50%;
    align-self: flex-end;
    margin-right: 21px;
    margin-bottom: 10px;
    list-style: none;
}

.card__circle--heading {
    margin-top: 10px;
    color: var(--basic-white);
    font-weight: 400;
    font-size: 42px;
    line-height: 22px;
    margin-bottom: 10px;
}

.card__circle--weight {
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color: var(--basic-white);
}

.card__link--text {
    color: var(--basic-white);
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.card__link {
    color: var(--rich-electric-blue);
    border-bottom: 1px dashed;
    text-decoration: none;
}

.card__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.card__link-wrapper {
    list-style: none;
}

.card__link-block {
    display: flex;
    position: absolute;
}

.card__box--disable {
    pointer-events: none;
}

.card__link--text-gold {
    color: var(--gold);
}

.card__box--disable.card__box::before {
    background: linear-gradient(135deg, transparent 31px, var( --gray-light) 0);
}

.card__box--disable .card__img {
    filter: opacity(0.5);
}

.card__box--disable .card__container {
    filter: opacity(0.5);
}

.card__box--disable .card__circle {
    background-color: var( --gray-light);
}

.card__box--select::before {
    background: linear-gradient(135deg, transparent 31px, var(--red) 0);
}

.card__circle--pink {
    background: var(--red);
}

.card__link--hover {
    display: none;
}

.card__link--hover-block {
    display: block;
}

.card__link--none {
    display: none;
}

.card__text--hover {
    display: none;
    color: var( --red-light);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}